body{

    margin: 10;
    padding: 10;
    background-color: rgb(66, 86, 80);
}

p{

    background-color: rgb(119, 86, 86);
}

img{
    width: 600px;
    
}
.ford{
    display: flex;
    justify-content: right;
}

button{

    font-size: medium;
    color: rgb(222, 187, 141);
}